@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia&display=swap');

html, body, head, div, p, ul {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    scroll-behavior: smooth;
    transition: all 1ms ease 0s;
    background-color: #37222C;
    color: #F8F0F2;
}
head {
    display: none;
}
*, :before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    margin: 0 auto;
    width: 100%;
    vertical-align: top;
}
::selection{
    background: #803f49;
}

/* FONTS */
.highlight {
    color: #C58B94;
}
.h1 {
    font-weight: 700;
    font-size: 64px;
    margin: 0;
}
.p {
    font-size: 16px;
}
.subtitle {
    font-size: 20px;
    margin: 0;
}
/* OVERFLOW */
.overflow {
    overflow-x: hidden;
}

/* HEADER */
.header__layout {
    padding: 50px 60px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.nav__layout {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100%;
    position: absolute;
    padding-top: 100px;
    padding-left: 30px;
    top: 0; 
    right: 0;
    background-color: rgba(55, 34, 44, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    z-index: 999;
}
.nav__layout li {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
}
.nav01, .nav02, .nav03, .nav04, .nav05, .nav06, .nav07 {
    padding: 5px 20px;
}
.nav01:hover, .nav02:hover, .nav03:hover, .nav04:hover, .nav05:hover, .nav06:hover, .nav07:hover {
    background-color: rgba(197, 139, 148, 0.5);
    border-radius: 50px;
    display: inline-flex;
}
.nav__layout.show-nav {
    display: block;
    margin: 0;
}

/* BURGER MENU */
.burger-menu {
    display: block;
    cursor: pointer;
    justify-content: space-between;
    padding: 5px;
    z-index: 999;
}
.burger-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 20px;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.bar {
    width: 25px;
    height: 4px;
    background-color: #C58B94;
    transition: transform 0.4s ease-in-out;
}
.bar-01.active {
    transform-origin: 0% 0%;
    transform: rotate(45deg);
}
.bar-02.active {
    transform: scaleY(0);
}
.bar-03.active {
    transform-origin: 0% 100%;
    transform: rotate(-45deg);
}
.show-nav .burger-menu .bar-01 {
    transform: rotate(45deg);
}
.show-nav .burger-menu .bar-02 {
    transform: scaleY(0);
}
.show-nav .burger-menu .bar-03 {
    transform: rotate(-45deg);
}

/* MAIN VISUAL */
.mv {
    margin: 0;
    max-width: 1600px;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(../slice/bg-main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
}
.mv__layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 977px;
    margin: 0 auto;
    padding: 50px 0 100px 0;
}
.greet {
    font-size: 24px;
    background-color: rgba(92, 55, 60, 0.5);
    border-radius: 50px;
    padding: 10px 15px;
    width: 457px;
    margin: 0 auto;
}
.introduction {
    padding: 16px 0;
}
.details__layout {
    display: flex;
    width: 518px;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 32px;
}
.details__layout-item {
    display: flex;
}
.item-head {
    font-size: 24px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(92, 55, 60, 0.5);
}
.item-body {
    font-size: 12px;
    text-align: left;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.mv__button-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 450px;
}
.btn-resume {
    padding: 12px 0;
    color: #5C373C;
    border-radius: 50px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    width: 200px;
    display: block;
    background: linear-gradient(145deg, #dfd8da, #ffffff);
    box-shadow:  5px 5px 10px #d3ccce,
                -5px -5px 10px #ffffff;
}
.btn-resume:hover {
    background: #F8F0F2;
    box-shadow: inset 5px 5px 10px #d3ccce,
                inset -5px -5px 10px #ffffff;
}
.btn-contact {
    padding: 12px 0;
    border-radius: 50px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    width: 200px;
    display: block;
    background: linear-gradient(145deg, #533236, #623b40);
    box-shadow:  5px 5px 10px #4e2f33,
                -5px -5px 10px #6a3f45;
}
.btn-contact:hover {
    background: #5C373C;
    box-shadow: inset 5px 5px 10px #4e2f33,
                inset -5px -5px 10px #6a3f45;
}

/* SECTION 1 - ABOUT ME */
.index-sec01 {
    margin: 0 auto;
    max-width: 1600px;
}
.index-sec01__content {
    margin: 0 auto;
    width: 1200px;
    padding: 100px 0;
}
.index-sec01__layout {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.index-sec01__right {
    width: 700px;
}
.img-profile {
    width: 292px;
    height: 295px;
    border-radius: 50%;
}
.centered-quote {
    text-align: center;
    font-size: 18px;
    font-family: "Sofia", cursive;
    font-style: italic;
    padding: 0 100px;
    
}

/* SECTION 2 - WORK EXPERIENCE*/
.index-sec02 {
    margin: 0 auto;
    max-width: 1600px;
}
.index-sec02__content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}
.index-sec02__layout {
    width: 1200px;
    padding-top: 100px;
}
.index-sec02__layout-item {
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.index-sec02__layout-item-row {
    width: 450px;
}
.job-title {
    display: inline-flex;
    font-weight: 700;
    font-size: 28px;
    color: #C58B94;
    padding-bottom: 5px;
    border-bottom: 1px solid #F8F0F2;
}
.company {
    font-weight: 500;
    font-size: 20px;
    padding-top: 25px;
}
.company:hover {
    color: #C58B94;
}
.date-setup {
    font-style: italic;
    font-size: 18px;
    color: rgba(248, 240, 242, 0.5);
}
.item-hidden {
    display: none;
}
.item-title {
    font-weight: 500;
    font-size: 16px;
    color: #C58B94;
    padding: 10px 0;
}
.roles-responsibilities {
    padding-left: 40px;
    list-style-type: circle;
    font-size: 14px;
}
.technology {
    padding-left: 30px;
}
.technology-item {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    background-color: rgba(92, 55, 60, 0.5);
    border-radius: 50px;
    flex-wrap: wrap;
}
.tech-logo {
    width: 18px;
    height: auto;
    display: flex;
    align-items: center;
}
.tech-name {
    font-size: 12px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.btn__layout__small {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    padding-top: 25px;
}
.btn-toggle {
    font-family: "Poppins", sans-serif;
    padding: 10px 20px;
    color: #F8F0F2;
    background-color: #5C373C;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-toggle:hover {
    background-color: #4A2B2F;
}
.btn-toggle.less {
    background-color: #F8F0F2;
    color: #5C373C;
}
.btn-toggle.less:hover {
    background-color: #ddd5d7;
}
.reverse {
    flex-direction: row-reverse;
}
.index-sec02__layout-item {
    position: relative; 
    padding-left: 20px; 
    margin-bottom: 10px; 
}
.index-sec02__layout-item:before {
    content: ""; 
    position: absolute;
    left: 594px;
    transform: translateY(-50%); 
    width: 15px; 
    height: 15px; 
    background-color: #C58B94; 
    border-radius: 50%;
}
.index-sec02__layout-item:after {
    content: "";
    position: absolute;
    left: 600px; 
    height: 100%; 
    border-left: 2px dashed #C58B94; 
}

/* SECTION 3 - SKILLS*/
.index-sec03 {
    margin: 0 auto;
    max-width: 1600px;
}
.index-sec03__content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 100px 0;
}
.index-sec03__layout {
    width: 1200px;
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
}
.index-sec03__layout-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-basis: calc(15% - 20px);
}
.sec03-item-logo {
    width: 40px;
    height: auto;
    padding-bottom: 10px;
}
.sec03-item-body {
    font-size: 18px;
    text-align: center;
    padding: 0 5px;
}
.index-sec03__item {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 115px;
    background-color: rgba(92, 55, 60, 0.5);
    border-radius: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 15px 30px 15px;
}

/* SECTION 4 - CERTIFICATES */
.index-sec04 {
    margin: 0 auto;
    max-width: 1600px;
}
.index-sec04__content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}
.index-sec04__layout {
    width: 1200px;
}
.index-sec04__gallery {
    padding-top: 50px;
}
.filter-certificates {
    display: flex;
    justify-content: center;
}
.index-sec04__gallery .certificates-category {
    display: flex;
    max-width: 500px;
    width: 100%;
   justify-content: space-between;
   align-items: center;
}
.certificates-category .item {
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(248, 240, 242, 0.5);
    border: 2px solid rgba(92, 55, 60, 0.5);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.certificates-category span.active,
.certificates-category span:hover {
    color: #F8F0F2;
    background: #C58B94;
}
.certificates-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 0; 
}
.certificate {
    box-sizing: border-box;
    padding: 30px 0;
    flex-basis: calc(33.333% - 20px);
    margin: 0 10px 20px 10px;
}
.certificate:hover {
    filter: brightness(1);
    opacity: 0.5;
}
.preview-box {
    display: none;
    position: fixed;
    top: 0;
    margin: 20px;
    width: 1200px;
    background: #5C373C;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); 
    border-radius: 50px;
    z-index: 100;
}
.preview-layout {
    display: flex;
    padding: 100px 50px;
}
.preview-image {
    max-width: 600px;
    max-height: 100%; 
    width: auto;
    height: auto;
}
.preview-description {
    font-size: 16px;
    width: 500px;
    text-align: left;
    padding-left: 40px;
}
.description-container {
    display: none; 
}
.close-preview {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 30px;
    cursor: pointer;
    padding: 0 10px;
}

/* SECTION 5 - EDUCATION */
.index-sec05 {
    margin: 0 auto;
    max-width: 1600px;
}
.index-sec05__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}
.index-sec05__layout {
    width: 1200px;
    padding: 50px 0;
}
.index-sec05__layout-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.index-sec05__item {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}
.sec05-item-logo {
    width: 150px;
}
.sec05-item-body {
    padding-left: 40px;
}
.university-title {
    font-weight: 700;
    font-size: 28px;
    background-color: rgba(92, 55, 60, 0.5);
    border-radius: 50px;
    padding: 10px 15px;
    display: inline-flex;
    margin: 0;
}
.sec05-item-details {
    padding-left: 30px;
}
.location {
    font-weight: 400;
    margin-left: 5px;
}
.course {
    font-size: 20px;
    padding-top: 20px;
}
.date-attended {
    font-style: italic;
    font-size: 20px;
    color: rgba(248, 240, 242, 0.5);
    padding-bottom: 20px; 
}
.achievements {
    padding-left: 40px;
    list-style-type: circle;
    font-size: 14px;
}

/* SECTION 6 - CONTACT */
.index-sec06 {
    max-width: 1600px;
    width: 100%;
    height: 100%;
    background-image: url(../slice/bg-footer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.index-sec06__content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    width: 1200px;
}
.index-sec06__layout {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(50% - 20px);
    padding-top: 30px;
}
.index-sec06__layout-item {
    box-sizing: border-box;
    margin: 0 20px 20px 10px;
    width: 450px;
}
.contact-content {
    display: flex;
    width: 100%;
    background-color: rgba(92, 55, 60, 0.5);
    border-radius: 50px;
    align-items: center;
    padding: 10px 25px;
}
.contact-content:hover {
    background-color: rgba(197, 139, 148, 0.5);
}
.img-footer {
    width: 45px;
    height: 45px;
    margin: 0;
}
.contact-detail {
    margin-left: 30px;
}
.contact-title {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}
.contact-name {
    font-size: 14px;
}

/* -------------------------- RESPONSIVE STYLES - TABLET -------------------------- */
@media screen and (max-width: 768px) {
    /* FONTS */
    .h1 {
        font-size: 40px;
    }
    .p {
        font-size: 12px; 
    }
    .subtitle {
        font-size: 16px; 
    } 
    
    /* HEADER */
    .header__layout {
        padding: 20px;
    }
    .nav__layout {
        display: flex;
        flex-direction: row;
        width: 100%; 
        height: 50px; 
        padding: 0 30px; 
        left: 0;
        position: fixed; 
        background-color: #37222C;
        z-index: 9999;
    }
    .nav__layout li {
        margin-bottom: 0;
        font-size: 12px;
        text-align: center; 
    }

    /* BURGER MENU */
    .burger-menu {
        display: none; 
    }

    /* MAIN VISUAL */
    .mv__layout {
        width: 80%; 
        padding: 200px 0; 
    }
    .greet {
        font-size: 18px; 
        width: 350px; 
    }
    .details__layout {
        width: 65%; 
    }
    .item-head {
        font-size: 18px; 
        width: 40px; 
        height: 40px; 
    }
    .item-body {
        font-size: 8px; 
    }
    .mv__button-layout {
        width: 350px; 
    }
    .btn-resume {
        font-size: 20px; 
        width: 150px; 
    }
    .btn-contact {
        font-size: 20px; 
        width: 150px; 
    }

    /* SECTION 1 - ABOUT ME */
    .index-sec01__content {
        width: 80%; 
    }
    .index-sec01__right {
        width: 350px; 
    }
    .img-profile {
        width: 202px; 
        height: 205px; 
    }
    .centered-quote {
        font-size: 14px; 
        padding: 0; 
    }

    /* SECTION 2 - WORK EXPERIENCE*/
    .index-sec02__layout {
        width: 60%; 
    }
    .index-sec02__layout-item-row {
        width: 100%; 
    }
    .job-title {
        font-size: 20px; 
    }
    .company {
        font-size: 16px;
    }
    .date-setup {
        font-size: 14px; 
    }
    .item-title {
        font-size: 12px; 
    }
    .roles-responsibilities {
        font-size: 12px;  
    }
    .tech-logo {
        width: 14px; 
    }
    .tech-name {
        font-size: 8px; 
    }
    .btn-toggle {
        font-size: 14px; 
    }
    .index-sec02__layout-item:before {
        left: -20px;
        width: 10px; 
        height: 10px; 
    }
    .index-sec02__layout-item:after {
        left: -15px; 
    }

    /* SECTION 3 - SKILLS*/
    .index-sec03__layout {
        width: 80%;
    }
    .index-sec03__layout-row {
        width: 100%;
        display: flex; 
        align-items: center; 
        justify-content: center; 
    }
    .sec03-item-logo {
        width: 25px; 
    }
    .sec03-item-body {
        font-size: 14px; 
    }
    .index-sec03__item {
        width: 100px; 
        height: 85px; 
        margin: 0 10px 25px 10px; 
    }

    /* SECTION 4 - CERTIFICATES */
    .index-sec04__layout {
        width: 80%;
    }
    .index-sec04__gallery .certificates-category {
        max-width: 400px; 
    }
    .certificates-category .item {
        padding: 5px 20px; 
        font-size: 14px; 
    }
    .certificate {
        padding: 10px 0;
        margin: 0 10px 10px 10px; 
    }
    .preview-box {
        width: 80%;
    }
    .preview-layout {
        padding: 70px 30px 20px 30px;
        flex-direction: column;
    }
    .preview-image {
        max-width: 380px; 
    }
    .preview-description {
        font-size: 12px; 
        width: 100%; 
        padding-left: 0; 
        padding-top: 20px; 
    }

    /* SECTION 5 - EDUCATION */
    .index-sec05__layout {
        width: 80%; 
    }
    .index-sec05__item {
        width: 100%;
    }
    .sec05-item-logo {
        width: 130px; 
    }
    .sec05-item-body {
        width: 460px; 
    }
    .university-title {
        font-size: 20px; 
        padding: 10px 30px;
        flex-direction: column; 
        align-items: center; 
    }
    .course {
        font-size: 16px;
    }
    .date-attended {
        font-size: 16px; 
    }
    .achievements {
        font-size: 12px;
    }

    /* SECTION 6 - CONTACT */
    .index-sec06__content {
        padding: 50px 0; 
        width: 80%;
    }
    .index-sec06__layout {
        width: 80%; 
    }
    .index-sec06__layout-item {
        width: 370px; 
    }
    .img-footer {
        width: 30px; 
        height: 30px; 
    }
    .contact-title {
        font-size: 18px; 
    }
    .contact-name {
        font-size: 12px;
    }
}

/* -------------------------- RESPONSIVE STYLES - MOBILE -------------------------- */
@media screen and (max-width: 450px) {
    /* FONTS */
    .h1 {
        font-size: 25px; 
    }
    .subtitle {
        font-size: 12px;  
    } 
    
    /* HEADER */
    .header__layout {
        padding: 10px; 
    }
    .nav01, .nav02, .nav03, .nav04, .nav05, .nav06, .nav07 {
        padding: 5px 10px; 
    }
    .nav__layout {
        width: 100%;  
        height: 40px; 
        padding: 0 10px; 
    }
    .nav__layout li {
        margin-bottom: 0;
        font-size: 8px; 
        font-weight: 500; 
    }

    /* MAIN VISUAL */
    .mv__layout {
        padding: 150px 0; 
    }
    .greet {
        font-size: 14px; 
        width: 250px; 
    }
    .details__layout {
        width: 80%; 
    }
    .item-head {
        font-size: 14px; 
        width: 30px; 
        height: 30px;  
    }
    .mv__button-layout {
        width: 270px; 
    }
    .btn-resume {
        font-size: 16px; 
        width: 120px; 
        padding: 10px 0;
    }
    .btn-contact {
        font-size: 16px; 
        width: 120px; 
        padding: 10px 0; 
    }

    /* SECTION 1 - ABOUT ME */
    .index-sec01__layout {
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
    }
    .index-sec01__right {
        width: 90%; 
        padding-top: 30px; 
    }
    .img-profile {
        width: 152px; 
        height: 155px; 
    }

    /* SECTION 2 - WORK EXPERIENCE*/
    .job-title {
        font-size: 16px; 
    }
    .company {
        font-size: 14px; 
    }
    .date-setup {
        font-size: 12px; 
    }
    .item-title {
        font-size: 12px; 
    }
    .roles-responsibilities {
        font-size: 10px; 
    }
    .tech-logo {
        width: 12px;  
    }
    .tech-name {
        font-size: 8px; 
    }
    .btn-toggle {
        font-size: 12px;  
        padding: 5px 10px; 
    }

    /* SECTION 3 - SKILLS*/
    .sec03-item-logo {
        padding-bottom: 5px;
    }
    .sec03-item-body {
        font-size: 12px; 
    }
    .index-sec03__item {
        width: 90px; 
        height: 75px; 
    }

    /* SECTION 4 - CERTIFICATES */
    .index-sec04__gallery .certificates-category {
        max-width: 350px; 
    }
    .certificates-category .item {
        padding: 5px 15px; 
        font-size: 12px; 
    }
    .certificate {
        flex-basis: calc(50% - 20px); 
    }
    .preview-box {
        width: 70%; 
    }
    .preview-layout {
        padding: 80px 20px 20px 20px; 
    }
    .preview-image {
        max-width: 240px; 
    }
    .preview-description {
        font-size: 10px; 
    }

    /* SECTION 5 - EDUCATION */
    .sec05-item-logo {
        width: 100px; 
    }
    .sec05-item-details {
        padding-left: 20px; 
    }
    .sec05-item-body {
        width: 260px;
        padding-left: 20px;
    }
    .university-title {
        font-size: 16px; 
        padding: 10px 20px; 
    }
    .course {
        font-size: 12px;
    }
    .date-attended {
        font-size: 12px;  
    }
    .achievements {
        font-size: 10px;
        padding-left: 20px; 
    }

    /* SECTION 6 - CONTACT */
    .index-sec06__layout {
        width: 100%; 
    }
    .index-sec06__layout-item {
        width: auto; 
    }
    .img-footer {
        width: 20px; 
        height: 20px; 
    }
    .contact-detail {
        margin-left: 20px;
    }
    .contact-title {
        font-size: 14px; 
    }
    .contact-name {
        font-size: 10px;
    }
}