@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: "Poppins", serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all 1ms ease 0s;
    background-color: #37222C;
    color: #F8F0F2;
    font-family: "Poppins", serif;
}
head {
    display: none;
}
*, :before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}
div {
    margin: 0px;
    padding: 0px;
}
ul {
    list-style-type: none;
}
ol {
    margin-left: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
    vertical-align: top;
}

/* SCROLL */
.scroll {
    opacity: 0;
    transition: all 0.1s ease;
}
.scroll[data-type="up"] {
    transform: translate3d(0, 100px, 0);
    transition: all 1s ease;
}
.scroll[data-type="up"].active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

/* OVERFLOW */
/* .overflow {
    overflow-x: hidden;
} */
::selection {
    background-color: #803f49;;
    color: #fffcfc;
}

/* LAYOUT */
.section, .w-1200, .w-1280, .w-1290 {
    margin: 0 auto;
}

.section {
    max-width: 1600px;
}
.w-1200 {
    width: 1200px;
}
.w-1280 {
    width: 1280px;
}
.w-1290 {
    width: 1290px;
}

/* DISPLAY */
.display {
    display: flex;
    align-items: center;
}
.df {
    display: flex;
}
.ai-e {
    align-items: end;
}
.m-0a {
    margin: 0 auto;
}
.jc-c {
    justify-content: center;
}
.jc-sa {
    justify-content: space-around;
}
.jc-sb {
    justify-content: space-between;
}
.jc-e {
    justify-content: end;
}
.jc-s {
    justify-content: start;
}
.fd-col {
    flex-direction: column;
}
.ta-c {
    text-align: center;
}
.ta-s {
    text-align: start;
}
.ta-e {
    text-align: end;
}

/* FONTS */
.f-12 {
    font-size: clamp(8px, 0.411rem + 0.339vw, 12px);
}
.f-16, .f-16m {
    font-size: clamp(12px, 0.661rem + 0.339vw, 16px);
}
.f-18, .f-18m {
    font-size: clamp(16px, 0.786rem + 0.339vw, 18px);
}
.f-20, .f-20m {
    font-size: clamp(16px, 0.911rem + 0.339vw, 20px);
}
.f-24, .f-24b {
    font-size: clamp(18px, 0.9915rem + 0.5085vw, 24px);
}
.f-28, .f-28b {
    font-size: clamp(20px, 1.072rem + 0.678vw, 28px);
}
.f-64b {
    font-size: clamp(44px, 2.3051rem + 1.6949vw, 64px);
}

.f-12, .f-16, .f-20, .f-24, .f-28 {
    font-weight: 400;
}
.f-16m, .f-18m, .f-20m {
    font-weight: 500
}
.f-24b, .f-28b, .f-64b {
    font-weight: 700;
}

/*OTHER FONT PROPERTIES*/
.montagu {
    font-family: "Montagu Slab", serif;
}
.pink {
    color: #C58B94;
}
.maroon {
    color: #5C373C;
}
.bg-m {
    background: rgba(92, 55, 60, 0.5);
}

/*BUTTONS*/
.btn-resume, .btn-contact {
    width: 200px;
    height: 65px;
    border-radius: 30px;
    transition: background 0.3s;
}
.btn-resume {
    background: #F8F0F2;
}
.btn-resume:hover {
    background: #bab5b6;
}
.btn-contact {
    background: #5C373C;
}
.btn-contact:hover {
    background: #42272b;
}

/* --------------------------------------------------- PAGE PROPERTIES --------------------------------------------------- */

/*BURGER MENU*/
.menu-container {
    position: fixed;
    z-index: 1;
}
.menu {
    position: fixed;
    right: -100px;
    top: -100px;
    z-index: 99999;
    width: 200px;
    height: 200px;
    background: #3B2738;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #1f151a, 0 0 0 0 #1f151a;
}
.hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 4px;
    background: #F8F0F2;
    display: block;
    transform-origin: center;
    transition: 0.5s ease-in-out;
}
.hamburger:after,
.hamburger:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #F8F0F2;
    transition: 1s ease-in-out;
}
.hamburger:before { 
    top: -10px; 
}
.hamburger:after { 
    bottom: -10px; 
}
#menuToggle {
    display: none;
}
#menuToggle:checked + .menu {
    box-shadow: 0 0 0 100vw #3B2738, 0 0 0 100vh #3B2738;
    border-radius: 0;
    z-index: 99999;
}
#menuToggle:checked + .menu .hamburger {
    transform: rotate(45deg);
}
#menuToggle:checked + .menu .hamburger:after,
#menuToggle:checked + .menu .hamburger:before {
    transform: rotate(90deg);
    top: 0;
}
#menuToggle:checked ~ .nav {
    opacity: 1;
    pointer-events: auto;
}
.nav {
    width: max-content;
    z-index: 99999;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}
.nav a {
    margin-bottom: 1em;
    display: block;
    color: #F8F0F2;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 30px;
    transition: background 0.3s, transform 0.5s ease;
    width: max-content;
}
.nav a:hover {
    background: rgba(92, 55, 60, 0.5);
    transform: translateX(20px);
}

/*MV*/
.mv__content {
    width: 100%;
    height: 100%;
    background-image: url(../assets/bg-main.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
}
.mv__layout {
    padding: 180px 0 270px 0;
}
.greeting {
    padding: 10px 20px;
    border-radius: 30px;
    width: max-content;
}
.intro {
    max-width: 1020px;
    padding: 40px 20px;
}
.detail__item {
    margin: 0 15px;
}
.detail__item-head {
    padding: 10px;
}
.detail__item-desc {
    margin-left: 5px;
}
.mv__buttons {
    padding-top: 40px;
}
.mv__buttons a {
    margin: 0 50px;
}
.mv__buttons i {
    margin-right: 10px;
    font-size: clamp(20px, 1.072rem + 0.678vw, 28px);
}

/*SEC01*/
.sec01__content {
    padding: 200px 0;
}
.sec01__layout {
    padding-top: 100px;
}
.profile-img {
    max-width: 295px;
    max-height: 295px;
    border-radius: 50%;
    object-fit: cover;
}
.sec01__details {
    max-width: 800px;
}
.sec01__desc {
    padding-bottom: 60px;
}
.sec01__quote {
    max-width: 360px;
    flex-wrap: wrap;
    padding: 10px 20px;
    border-radius: 30px;
    background: rgba(197, 139, 148, 0.3);
}

/*SEC02*/
.sec02__layout {
    padding-top: 100px;
}
.sec02__layout-item {
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.sec02__layout-item-row {
    width: 450px;
}
.job-title {
    display: inline-flex;
    padding-bottom: 5px;
    border-bottom: 1px solid #F8F0F2;
}
.company {
    padding-top: 25px;
}
.company:hover {
    color: #C58B94;
}
.date-setup {
    font-style: italic;
    color: rgba(248, 240, 242, 0.5);
}
.item-hidden {
    display: none;
}
.item-title {
    padding: 10px 0;
}
.roles-responsibilities {
    padding-left: 40px;
    list-style-type: circle;
}
.technology {
    padding-left: 30px;
}
.technology-item {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    background-color: rgba(92, 55, 60, 0.5);
    border-radius: 50px;
    flex-wrap: wrap;
}
.tech-logo {
    width: 18px;
    height: auto;
    display: flex;
    align-items: center;
}
.tech-name {
    margin-left: 5px;
}
.btn__layout__small {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    padding-top: 25px;
}
.btn-toggle {
    font-family: "Poppins", sans-serif;
    padding: 10px 20px;
    color: #F8F0F2;
    background-color: #5C373C;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-toggle:hover {
    background-color: #4A2B2F;
}
.btn-toggle.less {
    background-color: #F8F0F2;
    color: #5C373C;
}
.btn-toggle.less:hover {
    background-color: #ddd5d7;
}
.reverse {
    flex-direction: row-reverse;
}
.sec02__layout-item {
    position: relative; 
    padding-left: 20px; 
    margin-bottom: 10px; 
}
.sec02__layout-item:before {
    content: "";
    position: absolute;
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 15px;
    height: 15px;
    background-color: #C58B94;
    border-radius: 50%;
}

.sec02__layout-item:after {
    content: "";
    position: absolute;
    left: 50%; 
    top: 0;
    transform: translateX(-50%); 
    height: 100%;
    border-left: 2px dashed #C58B94;
}

/*SEC03*/
.sec03__content {
    padding: 200px 0;
}
.sec03__layout {
    padding: 100px 0;
    /*flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 30px;
}
.sec03__item {
    max-width: 380px;
}
.sec03__link {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    transition: filter 0.3s, opacity 0.3s;
}
.sec03__link img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.sec03__link:hover img {
    transform: scale(1.1);
}
.sec03__link:hover {
    filter: brightness(1);
    opacity: 0.7;
}
.project__details {
    padding-top: 40px;
}
.project__date {
    padding: 0 10px;
    background: rgba(197, 139, 148, 0.5);
    margin-bottom: 20px;
    width: fit-content;
    border-radius: 30px;
}

/* PAGINATION */
div#pagination {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.page-link {
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
    color: #F8F0F2;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0; 
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: clamp(0.625rem, 0.536rem + 0.339vw, 0.875rem);
}
.page-link:hover, .page-link.active {
    background-color: rgba(197, 139, 148, 0.5);
}

/*SEC04*/
.sec04__layout {
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 100px;
}
.sec04__item {
    width: 140px;
    height: 115px;
    background-color: rgba(92, 55, 60, 0.5);
    border-radius: 30px;
}
.sec04__item-logo {
    width: 40px;
    height: auto;
    padding-bottom: 10px;
}
.sec04__item-body {
    padding: 0 5px;
}

/*SEC05*/
.sec05__content {
    padding: 200px 0;
}
.sec05__gallery {
    padding-top: 60px;
    width: 100%;
    height: 100%;
}
.certificates-category {
    gap: 20px;
}
.certificates-category .item {
    padding: 7px 25px;
    color: rgba(248, 240, 242, 0.5);
    border: 2px solid rgba(92, 55, 60, 0.5);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.certificates-category span.active,
.certificates-category span:hover {
    color: #F8F0F2;
    background: #C58B94;
}
.certificates-gallery {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 40px 0; 
    gap: 30px;
}
.certificate {
    box-sizing: border-box;
    flex-basis: calc(33.333% - 20px);
}
.certificate:hover {
    filter: brightness(1);
    opacity: 0.5;
}
.preview-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    max-width: 1200px;
    background: #5C373C;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    z-index: 100;
    padding: 0 40px; 
    box-sizing: border-box; 

    max-height: 800px;  /* Set a max-height for the container */
    overflow-y: auto;   /* Enable vertical scrolling */
    padding-right: 10px; /* Add right padding to prevent text from touching the scrollbar */

} 
.preview-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
}
.preview-layout {
    display: flex;
    /* padding: 100px 50px; */
    padding: 10vh 5vw; 
}
.preview-image {
    max-width: 600px;
    width: auto;
    height: auto;
}
.preview-description {
    width: 500px;
    text-align: left;
    padding-left: 40px;
}
.description-container {
    display: none; 
    visibility: hidden;
}
.close-preview {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 30px;
    cursor: pointer;
    padding: 0 10px;
    width: 40px;
    height: 42px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background: rgba(248, 240, 242, 0.7);
    color: rgba(92, 55, 60, 1);
}

/*SEC06*/
.sec06__layout {
    padding: 100px 0 200px 0;
    gap: 100px;
}
.sec06__item {
    width: 930px;
}
.school-img {
    max-width: 200px;
    height: auto;
}
.sec06__desc {
    width: 650px;
}
.sec06__desc h5 {
    width: fit-content;
    padding: 10px 20px;
    background-color: rgba(92, 55, 60, 0.5);
    border-radius: 50px;
}
.sec06__info {
    padding-left: 40px;
}
.sec06__info h6 {
    padding: 40px 0;
}
.italic {
    font-style: italic;
    color: rgba(248, 240, 242, 0.5);
}
.achievements {
    list-style-type: circle;
    padding-left: 40px;
}

/*FOOTER*/
footer {
    background-image: url(../assets/bg-footer.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.footer__content {
    padding: 100px 0;
}
.footer__layout {
    padding-top: 80px;
    gap: 40px;
    flex-wrap: wrap;
}
.footer-icon {
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    margin: 0 30px 0 40px;
}
.footer__item {
    margin: 0 40px;
}
.footer__link {
    width: 495px;
    background-color: rgba(92, 55, 60, 0.5);
    border-radius: 50px;
    padding: 10px 0;
    transition: background-color 0.3s;
}
.footer__link:hover {
    background-color: rgba(50, 32, 34, 0.5);
}

/* --------------------------------------------------- RESPONSIVE PROPERTIES --------------------------------------------------- */

/*MEDIUM SCREENS*/
@media screen and (max-width: 1200px) {

    /*LAYOUT*/
    .mv__layout, .sec01__content, .sec02__content, .sec03__content,
    .sec04__content, .sec05__content, .sec06__content, .footer__content {
        width: 90%;  
        margin: 0 auto;  
    }

    /*SEC01*/
    .profile-img {
        width: 30vw;  
    }
    .sec01__details {
        width: 55vw;  
    }

    /*SEC02*/
    .sec02__layout {
        width: 100%; 
    }
    .sec02__layout-item-row {
        max-width: 450px; 
        width: 40vw; 
    }

    /*SEC03*/
    .sec03__layout {
        width: 100%;  
    }
    /* .sec03__link {
        max-width: 380px;  
        width: 40vw;  
    } */

    /*SEC05*/
    .preview-box {
        width: 90%; 
        padding: 0; 
        height: 90vh;  
    }
    .preview-layout {
        display: flex; 
        height: 80vh; 
        flex-direction: column; 
        overflow-x: scroll; 
    }
    .preview-image {
        width: 100%;  
    }
    .preview-description {
        max-width: 100%; 
        width: 100%;  
        padding-left: 0; 
        padding-top: 40px; 
    }

    /*SEC06*/
    .sec06__item {
        max-width: 930px; 
        width: 90%;  
    }
    .school-img {
        width: 30vw;  
    }
    .sec06__desc {
        max-width: 650px; 
        width: 60vw; 
        margin-left: 40px; 
    }

}

/*TABLET*/
@media screen and (max-width: 769px) {

    /*SEC05*/
    .certificate {
        flex-basis: calc(50% - 20px);  
    }
    .filter-certificates {
        width: 100%;  
    }
    .certificates-category {
        flex-wrap: wrap; 
    }
    
}

/*MOBILE*/
@media screen and (max-width: 430px) {

    /*MV*/
    .greeting {
        width: 90%;  
    }
    .details {
        flex-direction: column;  
    }
    .details div {
        margin-bottom: 20px;  
    }
    .details div:last-child {
        margin-bottom: 0;  
    }
    .mv__buttons {
        width: 100%; 
        flex-direction: column; 
        gap: 40px; 
    }

    /*SEC01*/
    .sec01__content h1 {
        text-align: center;  
    }
    .sec01__layout {
        flex-wrap: wrap;  
        justify-content: center;  
    }
    .profile-img {
        width: 80%;  
    }
    .sec01__details {
        width: 90%;  
        padding-top: 40px;  
    }

    /*SEC02*/
    .sec02__layout-item-row {
        width: 90%; 
        padding-left: 20px; 
    }
    .reverse {
        flex-direction: row; 
    }
    .sec02__layout-item:before, .sec02__layout-item:after {
        left: 0;  
    }

    /*SEC03*/
    .sec03__layout {
        grid-template-columns: repeat(1, 1fr);
    }
    .sec03__layout li, .sec03__link  {
        width: 90%;  
        margin: 0 auto;
    }
    .project__details {
        padding-top: 20px;
    }

    /*SEC06*/
    .sec06__item {
        flex-direction: column;  
    }
    .sec06__desc {
        width: 100%; 
        margin-left: 0; 
        margin-top: 40px; 
    }
    
    /*FOOTER*/
    .footer__item {
        margin: 0;  
        width: 100%;  
    }
    .footer__link {
        max-width: 495px; 
        width: 100%; 
    }
}
